<div class="row">
{{#each movie}}
<div data-movie-id="{{id}}" class="col-md-4"><!-- the 4 creates row of three cards -->
	<div class="col-md-12 movie-card"><!-- inside card so there is auto margin -->
		<div class="row"><!-- row for poster and movie info -->
			<div class="col-md-5 poster"><img src="{{poster_path}}"></div><!-- poster -->
			<div class="col-md-7 movie-info"><!-- movie info -->
				<h3 data-title={{title}} class="movie-info">{{title}}</h3>
				<p class="movie-info">{{year}}r</p>
        <p class="movie-info">

    {{!--   work in progress --}}
        {{#each actor}}
				{{this}}
        {{/each}}
        </p>
				<div class="starsNstuff" data-watched-status="{{watched}}">
          {{#if {{watched}} }}
            <ul>
              <li class="star" id="{{id}}-1">Star</li>
              <li class="star" id="{{id}}-2">Star</li>
              <li class="star" id="{{id}}-3">Star</li>
              <li class="star" id="{{id}}-4">Star</li>
              <li class="star" id="{{id}}-5">Star</li>
            </ul>
          {{else if {{watched}} === false}}
            <a id="watched-it" href="#">Watched It</a>
          {{else}}
            <a class="add-watchlist" data-add-watch="{{id}}" href="#">Add to Watchlist</a>
          {{/if}}
        </div><!-- area for stars and links -->
			</div><!-- /.col-sm-7 -->
		</div><!-- /.row -->
	</div><!-- /.col-sm-12 -->
</div><!-- /.col-sm-5 -->
{{/each}}
</div>