<div class="row">
	{{#each movies}}
		<div class="card">
			<div class="card-block">
				<div class="row">
					<div class="col-md-4">
						<img alt="{{id}}-image" src="http://image.tmdb.org/t/p/w154/{{poster_path}}">
					</div>
					<div class="col-md-8 movie-info">
						<div class="col-md-12">
							<h3 id="{{id}}-title" class="card-title">{{title}}</h3>
  						<h6 id="{{id}}-date" class="card-subtitle">{{release_date}}</h6>
  						<h5 class="card-title cast">Cast:</h5>
{{!--   						<p id="{{id}}-cast">{{cast}} --}}
  						{{#each cast}}
    						<p class="{{../id}}-cast">{{this}}</p>
    					{{/each}}
{{!--     					</p> --}}
    						<a class="add-watchlist" data-add-watch="{{id}}" href="#">Add to Watchlist</a>
    				</div>
  				</div>
  			</div>
  		</div>
		</div>
	{{/each}}
</div>